@font-face {
    font-family: "icon-font";
    src: url("../fonts/icon-font.eot?44f6587b1f5c5d1f6d01fa5beb1adaa5?#iefix") format("embedded-opentype"),
url("../fonts/icon-font.woff2?44f6587b1f5c5d1f6d01fa5beb1adaa5") format("woff2"),
url("../fonts/icon-font.woff?44f6587b1f5c5d1f6d01fa5beb1adaa5") format("woff"),
url("../fonts/icon-font.ttf?44f6587b1f5c5d1f6d01fa5beb1adaa5") format("truetype"),
url("../fonts/icon-font.svg?44f6587b1f5c5d1f6d01fa5beb1adaa5#icon-font") format("svg");
}

@mixin icon-styles {
    font-family: "icon-font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";
        @if $filename == arrow {
            $char: "\f101";
        }
        @if $filename == instagram {
            $char: "\f102";
        }
        @if $filename == lamp {
            $char: "\f103";
        }
        @if $filename == mail {
            $char: "\f104";
        }
        @if $filename == phone {
            $char: "\f105";
        }
        @if $filename == shopping-cart {
            $char: "\f106";
        }
        @if $filename == tools {
            $char: "\f107";
        }
        @if $filename == whatsapp {
            $char: "\f108";
        }
    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
    &:#{$insert} {
        @if $extend {
            @extend %icon;
        } @else {
            @include icon-styles;
        }
        content: icon-char($filename);
    }
}

.icon-arrow {
    @include icon(arrow);
}
.icon-instagram {
    @include icon(instagram);
}
.icon-lamp {
    @include icon(lamp);
}
.icon-mail {
    @include icon(mail);
}
.icon-phone {
    @include icon(phone);
}
.icon-shopping-cart {
    @include icon(shopping-cart);
}
.icon-tools {
    @include icon(tools);
}
.icon-whatsapp {
    @include icon(whatsapp);
}
