$layout-max-container-width: 960px;

$layout-grid-columns: 12;

$layout-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px
);

$layout-grid-gap: (
  xs: 16px,
  sm: 24px,
  md: 24px,
  lg: 40px
);

$layout-grid-offset: (
  xs: 16px,
  sm: 30px,
  md: 40px,
  lg: 0
);

@import "../../../../node_modules/scss-responsive-layout/layout";
