body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.4;
  color: $color-blue;
  font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-regular;
  line-height: 1.2;
}

h1 {
  font-size: 28px;

  @include breakpoint(sm) {
    font-size: 38px;
  }
}
h2 {
  font-size: 20px;

  &.margin-bottom {
    margin-bottom: 20px;
  }

  @include breakpoint(sm) {
    font-size: 30px;
  }

}
h3 {
  font-size: 18px;

  &.margin-bottom {
    margin-bottom: 16px;
  }

  @include breakpoint(sm) {
    font-size: 24px;
  }

}
h4 {
  font-size: 16px;

  @include breakpoint(sm) {
    font-size: 20px;
  }
}
h5 {
  font-size: 16px;

  @include breakpoint(sm) {
    font-size: 18px;
  }
}
h6 {
  font-size: 16px;
  font-style: italic;
  color: rgba($color-blue, .5);

  &.margin-bottom {
    margin-bottom: 8px;
  }
}

p {
  &.margin-bottom {
    margin-bottom: 16px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  &.margin-bottom {
    margin-bottom: 16px;
  }
}

div.margin-bottom {
  margin-bottom: 1.6rem;
}

.align-right {
  text-align: right;
}
