<div class="l-section">
  <div class="l-container">
    <div class="map">
      <div class="map__company-info">
        <div class="l-row">
          <div class="l-col-10 l-col-sm-5 l-col-md-4 l-offset-1">
            {{> components/company-info store=store address=address navigate=navigate}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
