<div class="company-info">
  <h3>Openingstijden</h3>
  <h6 class="margin-bottom">{{store}}</h6>
  <table class="table margin-bottom">
    <tr>
      <td>ma:</td>
      <td>13:00 - 18:00</td>
    </tr>
    <tr>
      <td>di t/m vr:</td>
      <td>09:00 - 18:00</td>
    </tr>
    <tr>
      <td>za:</td>
      <td>09:00 - 17:00</td>
    </tr>
    <tr>
      <td>zo:</td>
      <td>gesloten</td>
    </tr>
  </table>
  <h3 class="margin-bottom">Adres</h3>
  <p class="margin-bottom">{{address}}<br/>
    1013 EV Amsterdam</p>
  <a href="{{navigate}}" target="_blank" class="button button--alternate">Route berekenen</a>
</div>
