<div class="l-section">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col-10 l-offset-1">
        <h3 class="margin-bottom">Heeft u vragen over onze producten?</h3>
        <p class="margin-bottom">Voor eventuele vragen zijn wij bereikbaar via telefoon, e-mail en whatsapp </p>
      </div>
    </div>
    <div class="company-contact">
      <div class="l-row">
        <div class="l-col-10 l-offset-1">
          <ul class="company-contact__items">
            <li class="company-contact__item">
              <a href="https://wa.me/31611981074" target="_blank" >
                <i class="icon-whatsapp company-contact__icon"></i>
                <span class="button">WhatsApp</span>
              </a>
            </li>
            <li class="company-contact__item">
              <a href="mailto:doe-het-zelf@bruijnesteijn.nl">
                <i class="icon-mail company-contact__icon"></i>
                <span class="button">Mail ons</span>
              </a>
            </li>
            <li class="company-contact__item">
              <a href="tel:020-6238777">
                <i class="icon-phone company-contact__icon"></i>
                <span class="button">020 - 6238777</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
