<div class="l-container">
  <div class="l-row">
    <div class="l-col l-col-sm-10 l-offset-sm-1">
      <div class="detail-page-intro">
        <i class="icon-{{icon}} detail-page-intro__icon"></i>
        <h1 class="detail-page-intro__title">{{title}}</h1>
        <p class="detail-page-intro__text">{{text}}</p>
      </div>
    </div>
  </div>
</div>
