<footer class="footer">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col l-col-sm-6 l-col-md-4">
        <div class="footer__block">
          <ul class="footer__list">
            <li class="footer__item footer__item--title">Sitemap</li>
            <li class="footer__item"><a href="electricity-store.html">Elektra winkel</a></li>
            <li class="footer__item"><a href="hardware-store.html">IJzerwaren winkel</a></li>
            <li class="footer__item"><a href="about.html">Over ons</a></li>
            <li class="footer__item"><a href="contact.html">Contact</a></li>
            <li class="footer__item"><a class="button button--light" href="https://doe-het-zelf-bruijnesteijn.webshopapp.com/" target="_blank">Webshop</a></li>
          </ul>
        </div>
      </div>
      <div class="l-col l-col-sm-6 l-col-md-4">
        <div class="footer__block">
          <ul class="footer__list">
            <li class="footer__item footer__item--title">Contact</li>
            <li class="footer__item">Haarlemmerstraat 84 en 86</li>
            <li class="footer__item">1013 EV Amsterdam</li>
            <br>
            <li class="footer__item">
              <a href="mailto:doe-het-zelf@bruijnesteijn.nl">doe-het-zelf@bruijnesteijn.nl</a>
            </li>
            <li class="footer__item">
              <a href="tel:020-6238777">020 62 38 777</a> / <a href="tel:0611981074">06 11981074</a>
            </li>
            <li class="footer__item">
            </li>
          </ul>
        </div>
      </div>
      <div class="l-col l-col-sm-6 l-col-md-4">
        <div class="footer__block">
          <ul class="footer__list">
            <li class="footer__item footer__item--title">Volg ons op social media</li>
            <li class="footer__item">
              <a href="https://www.facebook.com/Decorating-Evert-Bruijnesteijn-440290332666361/" target="_blank" class="button button--light">Facebook</a>
            </li>
            <li class="footer__item">
              <a href="https://www.instagram.com/bruijnesteijndhz/" target="_blank" class="button button--light">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
