<header class="header js-header">
  <div class="l-container">
    <div class="header__inner">
      <a href="/">
        <img class="header__logo hide-mobile" src="assets/images/logo.svg">
        <img class="header__logo header__logo--mobile hide-desktop" src="assets/images/logo-small.svg">
      </a>
    </div>
  </div>
  <div class="header__buttons">
    <div class="l-container">
      <div class="header__inner header__inner--buttons">
        <a href="https://doe-het-zelf-bruijnesteijn.webshopapp.com/" target="_blank" class="header__webshop-button button button--alternate button--shopping-cart">Webshop</a>
        <button class="menu-button js-menu-button"></button>
      </div>
    </div>
  </div>
</header>
