<div class="l-section">
  <div class="l-container">
    <div class="first-section">
      <div class="l-row">
        <div class="l-col-10 l-offset-1">
            <h2 class="margin-bottom">BESTELLEN, AFHALEN & AFSPRAAK MAKEN</h2>
            <p class="margin-bottom">Tijdens de lockdown zijn wij voor u beschikbaar om bestellingen klaar te leggen en af te laten halen. Ook kunt u vanaf woensdag 3 maart een afspraak maken om te komen winkelen. Bestellen en/of een afspraak maken kan op volgende manieren:</p>
            <div class="c-card margin-bottom">
                <ul class="margin-bottom c-list">
                    <li class="c-list__item">Telefonisch: <a class="c-link c-link--secondary" href="tel:020-6238777">020-6238777</a></li>
                    <li class="c-list__item">WhatsApp: <a class="c-link c-link--secondary" href="https://wa.me/31611981074" target="_blank">+31611981074</a></li>
                    <li class="c-list__item">E-mail: <a class="c-link c-link--secondary" href="mailto:doe-het-zelf@bruijnesteijn.nl">doe-het-zelf@bruijnesteijn.nl</a></li>
                    <li class="c-list__item">Online: <a class="c-link c-link--secondary" href="https://doe-het-zelf-bruijnesteijn.webshopapp.com/" target="_blank">Webshop</a></li>
                </ul>
            </div>
            <p class="margin-bottom">Wij zullen u vervolgens laten weten hoelaat u de bestelling kan komen afhalen. Betalen kan contactloos per pin bij ons afhaalloket (lampenwinkel, haarlemmerstraat 84)</p>
            <br/><br/>
            <h2 class="margin-bottom">Wij zijn Doe Het Zelf Bruijnesteijn.</h2>
          <p class="margin-bottom">Twee winkels naast elkaar gelegen in de haarlemmerstraat. In onze IJzerwaren winkel op nr 86 bent u voor ijzerwaren, gereedschappen en verf aan het juiste adres en kunnen wij u van vakkundig advies voorzien. Naast deze productgroepen verkopen wij hier ook sanitaire producten, hang en sluitwerk, meer dan 200 HG schoonmaakproducten en de daarbij behorende benodigdheden. In onze Elektra winkel op nr 84 reikt ons assortiment vanaf een lampje,  stopcontact, verlengsnoer of COAX kabel tot aan de interieurverlichting voor boven tafel of waar dan ook in- en buitenshuis. Dus spring op de fiets! De dagelijkse dingen die u nodig heeft zijn dichterbij dan u denkt!</p>
          <p class="align-right">
            <a href="electricity-store.html" class="button button--large">Lees meer over onze lampen winkel</a>
          </p>
          <p class="align-right">
            <a href="hardware-store.html" class="button button--large">Lees meer over onze ijzerwaren winkel</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
