<div class="nav-underlay js-nav-underlay"></div>
<nav class="nav js-nav">
  <div class="nav__inner">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a class="nav__link {{#if home}}is-active{{/if}}" href="/index.html">Home</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link {{#if electricity}}is-active{{/if}}" href="electricity-store.html">Elektra winkel</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link {{#if hardware}}is-active{{/if}}" href="hardware-store.html">IJzerwaren winkel</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link {{#if about}}is-active{{/if}}" href="about.html">Over ons</a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link {{#if contact}}is-active{{/if}}" href="contact.html">Contact</a>
      </li>
    </ul>
    <ul class="nav__social-list">
      <li class="nav__social-list-item">
        <a href="https://www.facebook.com/Decorating-Evert-Bruijnesteijn-440290332666361/" target="_blank" class="nav__social-link">Facebook</a>
      </li>
      <li class="nav__social-list-item">
        <a href="https://www.instagram.com/bruijnesteijndhz/" target="_blank" class="nav__social-link">Instagram</a>
      </li>
    </ul>
  </div>
</nav>
