<div class="page-header-home">
  <div class="page-header-home__buttons">
    <div class="l-container">
      <div class="l-row">
        <div class="l-col l-col-sm-11 l-col-md-5 l-offset-sm-1">
          <a href="hardware-store.html" class="page-header-home__button">
            <div class="page-header-home__button-content">
              <i class="icon-tools page-header-home__button-icon"></i>
              <div class="page-header-home__button-body">
                <h2 class="page-header-home__button-title">IJzerwaren, gereedschap en verf</h2>
                <p class="page-header-home__button-text">Voor al uw ijzerwaren, gereedschap en verf</p>
              </div>
              <p class="button button--light page-header-home__button-button">Naar de winkel</p>
            </div>
          </a>
        </div>
        <div class="l-col l-col-sm-11 l-offset-sm-1 l-col-md-5 l-offset-md-0">
          <a href="electricity-store.html" class="page-header-home__button page-header-home__button--second">
            <div class="page-header-home__button-content">
              <i class="icon-lamp page-header-home__button-icon"></i>
              <div class="page-header-home__button-body">
                <h2 class="page-header-home__button-title">Lampen, elektra en accessoires</h2>
                <p class="page-header-home__button-text">Op zoek naar een nieuwe lamp? Neem een kijkje in onze lampenwinkel</p>
              </div>
              <p class="button button--light page-header-home__button-button">Naar de winkel</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
