<div class="slider js-slider">
  <div class="slider__slide" style="background-image: url('assets/images/lamps-1.jpg')"></div>
  <div class="slider__slide" style="background-image: url('assets/images/lamps-3.jpg')"></div>
  <div class="slider__slide" style="background-image: url('assets/images/lamps-2.jpg')"></div>
</div>