<div class="slider js-slider">
  <div class="slider__slide" style="background-image: url('assets/images/paint.jpg')"></div>
  <div class="slider__slide" style="background-image: url('assets/images/tools.jpg')"></div>
</div>