//$font-main: 'Open Sans', sans-serif;
//
//$light:       300;
//$regular:     400;
//$semi-bold:   600;
//$bold:        700;
//$extra-bold:  800;


$font-main: 'Amaranth', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;