@font-face {
	font-family: "custom-icon-font";
	src: url('../fonts/custom-icon-font.eot');
	src: url('../fonts/custom-icon-font.eot?#iefix') format('eot'),
		url('../fonts/custom-icon-font.woff2') format('woff2'),
		url('../fonts/custom-icon-font.woff') format('woff'),
		url('../fonts/custom-icon-font.ttf') format('truetype'),
		url('../fonts/custom-icon-font.svg#custom-icon-font') format('svg');
}

@mixin ci-styles {
	font-family: "custom-icon-font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%ci {
	@include ci-styles;
}

@function ci-char($filename) {
	$char: "";

	@if $filename == arrow {
		$char: "\E001";
	}
	@if $filename == instagram {
		$char: "\E002";
	}
	@if $filename == lamp {
		$char: "\E003";
	}
	@if $filename == mail {
		$char: "\E004";
	}
	@if $filename == phone {
		$char: "\E005";
	}
	@if $filename == tools {
		$char: "\E006";
	}
	@if $filename == whatsapp {
		$char: "\E007";
	}

	@return $char;
}

@mixin ci($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %ci;
		} @else {
			@include ci-styles;
		}
		content: ci-char($filename);
	}
}

.ci-arrow {
	@include ci(arrow);
}
.ci-instagram {
	@include ci(instagram);
}
.ci-lamp {
	@include ci(lamp);
}
.ci-mail {
	@include ci(mail);
}
.ci-phone {
	@include ci(phone);
}
.ci-tools {
	@include ci(tools);
}
.ci-whatsapp {
	@include ci(whatsapp);
}