.button {
  @include icon(arrow, after);
  color: $color-blue;
  padding-right: 54px;
  position: relative;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  min-height: 54px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;

  &:after {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    transition: .1s ease-in-out;
  }

  &:hover {
    &:after {
      right: 17px;
    }
  }
}

.button--large {
  @extend h4;
}

.button--light {
  color: white;
}

.button--alternate {
  background: $color-orange;
  color: white;
  border-radius: 60px;
  padding: 16px 54px 16px 20px;
}

.button--shopping-cart {
  @include icon(shopping-cart, after);
}
