.company-contact {
  background: $color-grey--light;
  padding: 20px 0;
}

.company-contact__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @supports (grid-gap: 0) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
 }

.company-contact__item {
  text-align: center;
}

.company-contact__icon {
  font-size: 48px;
  display: block;
}