.detail-page-intro {
  text-align: center;

  @include breakpoint(sm) {
    margin-top: 40px;
  }
}

.detail-page-intro__title {
  margin: 50px 0 20px 0;
}

.detail-page-intro__icon {
  transform: translateY(-70px);
  position: relative;
  display: block;

  &:before {
    font-size: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 1;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid white;
    top: -40px;
    left: 50%;
    transform:  translateX(-50%);
    z-index: 0;
  }
}

.detail-page-intro__text {
  text-align: left;

  p + p {
    margin-top: 20px;
  }
}
