.first-section {
  background: white;
  position: relative;
  min-height: 50px;
  margin-top: -160px;
  padding-top: 20px;

  @include breakpoint(sm) {
    min-height: 220px;
    margin-top: -220px;
  }
}
