.footer {
  background: $color-orange;
  color: white;
  padding: 50px 0;
}

.footer__block {
  margin-top: 24px;
}

.footer__list {

}

.footer__item {
  list-style: none;

  &--title {
    opacity: .6;
    margin-bottom: 8px;
  }
}
