.header {
  position: absolute;
  width: 100%;
  height: 80px;
  transition: .3s ease-in-out;
  color: white;
}

.header__buttons {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: index($elements, menu-button);
  pointer-events: none;
}

.header__webshop-button {
  margin-right: 24px;
  pointer-events: auto;
}

.header__inner {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: index($elements, logo);

  @include breakpoint(sm) {
    height: 110px;
  }
}

.header__logo {
  height: 56px;
}

.header__logo--mobile {
  margin-left: -#{map_get($layout-grid-offset, xs)};
}

.header__inner--buttons {
  justify-content: flex-end;
}

.header__second-logo {
  transform: translateY(-100%);
  transition: .3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
}

.second-logo {
  width: 80px;
  height: 80px;
  background: $color-grey;
}

.header.is-scrolled .header__second-logo {
  transform: translateY(0);
}
