.c-list {

}

.c-list__item {
  position: relative;
  padding-left: 24px;

  + .c-list__item {
    margin-top: 4px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $color-blue;
    left: 0;
    top: 12px;
  }
}
