.menu-button {
  cursor: pointer;
  pointer-events: auto;
  outline: none;
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  position: relative;
  transition: .3s ease-in-out;
}

.menu-button:before {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 2px;
  background: white;
  top: 15px;
  left: 5px;
  transition: .3s ease-in-out;
}

.menu-button:after {
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 2px;
  background: white;
  bottom: 15px;
  left: 5px;
  transition: .3s ease-in-out;
}

.header.is-scrolled .menu-button {
  background: $color-blue;
}

.menu-button.is-active:before {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.menu-button.is-active:after {
  top: 50%;
  bottom: auto;
  transform: rotate(-45deg) translateY(-50%);
}
