$offset-xs: 8px;
$offset-sm: 16px;

.nav {
  position: fixed;
  z-index: index($elements, menu);
  background: $color-blue;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: .3s ease-in-out;
  right: 0;
  top: 0;
  margin: $offset-xs;
  max-width: 0;
  max-height: 0;
  overflow: hidden;

  @include breakpoint(sm) {
    margin: $offset-sm;
  }

  @include breakpoint(md) {
    transform: translateY(-100%);
    max-width: unset;
    max-height: unset;
    height: unset;
    margin: 0;
  }
}

.nav.is-active {
  padding: 60px 30px 40px 30px;
  max-height: calc(100% - (#{$offset-xs} *2));
  max-width: calc(100% - (#{$offset-xs} *2));

  @include breakpoint(sm) {
    padding: 80px 50px 50px 50px;
    max-height: calc(100% - (#{$offset-sm} *2));
    max-width: calc(100% - (#{$offset-sm} *2));
  }

  @include breakpoint(md) {
    transform: translateY(0);
    max-width: unset;
    max-height: unset;
  }
}

.nav__inner {
  height: 100%;
  width: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav__list {
  list-style: none;
  text-align: center;

  @include breakpoint(sm) {
    text-align: right;
    padding-right: 80px;
  }
}

.nav__list-item {
  margin: 20px 0;
}

.nav__link {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 30px;

  &:before {
    content: '';
    width: 0;
    height: 40%;
    background: rgba(white,.3);
    left: -4px;
    top: 65%;
    z-index: -1;
    position: absolute;
    transition: .2s ease-in-out;
  }
}

.nav__link.is-active:before,
.nav__link:hover:before {
  width: calc(100% + 8px);
}

.nav__social-list {
  display: flex;
}

.nav__social-list-item {

  &:nth-child(n+2) {
    margin-left: 30px;
  }
}

.nav__social-link {
  color: white;
  opacity: .8;
  text-transform: uppercase;
  transition: .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.nav-underlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba($color-blue, .7);
  z-index: index($elements, underlay);
  opacity: 0;
  transition: .2s ease-in-out;
  pointer-events: none;

  &.is-active {
    opacity: 1;
  }
}
