.page-header-home {
  height: 100%;
  min-height: 568px;
  width: 100%;
  background: url("../images/header.jpg") center;
  background-size: cover;

  &:before {
    content: '';
    background: $color-blue;
    opacity: .5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}

.page-header-home__buttons {
  height: 100%;
  width: 100%;
  align-items: center;
  position: relative;
  display: flex;
}

.page-header-home__button {
  background: transparent;
  border: 1.5px solid white;
  width: 100%;
  color: white;
  position: relative;
  transition: background, transform .3s ease-in-out;
  display: block;
  box-sizing: border-box;

  @include breakpoint(md) {
    height: 100%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.page-header-home__button--second {
  margin-top: 24px;

  @include breakpoint(md) {
    margin-top: 0;
  }
}

.page-header-home__button-icon {
  font-size: 46px;
  line-height: 1;
  margin-bottom: 20px;
  position: absolute;
  color: $color-orange;

  @include breakpoint(md) {
    position: relative;
    font-size: 60px;
  }
}

.page-header-home__button-content {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;

  @include breakpoint(md) {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px;
  }
}

.page-header-home__button-body {
  flex-grow: 1;
  width: 100%;
}

.page-header-home__button-title {
  margin: 15px 0;
  text-transform: uppercase;
  padding-left: 60px;

  @include breakpoint(sm) {
    margin-top: 0;
  }

  @include breakpoint(md) {
    padding-left: 0;
  }
}

.page-header-home__button-text {
  margin-bottom: 16px;
  opacity: .7;
  display: none;

  @include breakpoint(sm) {
    display: block;
  }
}

.page-header-home__button-button {
  display: none;
  @include breakpoint(sm) {
    display: inline-flex;
  }
}

