.products {
  background-color: $color-grey--light;
  padding: 40px 0;
  margin-bottom: 40px;

  @include breakpoint(sm) {
    margin-top: 160px;
    margin-bottom: 0;
  }
}

.products__item {
  position: relative;
  padding-left: 24px;

  + .products__item {
    margin-top: 4px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $color-blue;
    left: 0;
    top: 12px;
  }
}

.products__image {
  margin-bottom: -80px;

  @include breakpoint(sm) {
    margin-top: -120px;
    margin-bottom: 0;
  }
}

.products__title {
  margin-bottom: 16px;
}
