.slider {
  position: relative;
  width: 100%;

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color-blue;
    opacity: .3;
  }

  .slick-prev,
  .slick-next {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    font-size: 0;
    color: white;
    @include icon(arrow);
    outline: none;
    cursor: pointer;
    transition: 200ms ease-in-out;

    &:before {
      font-size: 13px;
    }

    @include breakpoint(sm){
      width: 50px;
      height: 50px;

      &:before {
        font-size: 20px;
      }
    }
  }

  .slick-prev {
    left: 12px;
    transform: translateY(-50%) rotate(180deg);

    @include breakpoint(sm){
      left: 30px;
    }
    @include breakpoint(md){
      left: 50px;
    }
  }

  .slick-next {
    right: 12px;
    transform: translateY(-50%);

    @include breakpoint(sm){
      right: 30px;
    }
    @include breakpoint(md){
      right: 50px;
    }
  }

  .slick-dots {
    display: flex;
    align-items: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    @include breakpoint(sm){
      bottom: 30px;
    }
    @include breakpoint(md){
      bottom: 50px;
    }

    button {
      background: rgba(250, 250, 250, .5);
      border: none;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      padding: 1px;
      margin: 5px;
      font-size: 0;
      line-height: 0;
      display: block;
      outline: none;
      transition: 200ms ease-in-out;
      cursor: pointer;

      @include breakpoint(sm){
        padding: 2px;
      }
      @include breakpoint(md){
        padding: 3px;
      }

      &:hover {
        background: white;
      }
    }
    .slick-active {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: white;
        padding: 4.5px;

        @include breakpoint(sm){
          padding: 5px;
        }
        @include breakpoint(md){
          padding: 5.5px;
        }
      }
    }
  }
}

.slider__slide {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;

  @include breakpoint(sm) {
    padding-bottom: 50%;
  }
  @include breakpoint(md) {
    padding-bottom: 45%;
  }
}
