{{> base/html-top}}

{{> components/nav about=true}}

{{> components/header}}

{{> components/page-header image="header.jpg" }}

<div class="l-section">
  <div class="l-container">
    <div class="l-row">
      <div class="l-col l-col-sm-10 l-offset-sm-1">
        <div class="detail-page-intro">
          <h1 class="detail-page-intro__title">Historie</h1>
          <div class="detail-page-intro__text">
            <p>Op 10 april 1961 werd door Evert Bruijnesteijn de eerste stap gezet voor het Bruijnesteijn concern. Op 21e jarige leeftijd, een dag na zijn verjaardag, werd schildersbedrijf Evert Bruijnesteijn een feit. Met de keukentrap van zijn moeder ging hij zo zijn eerste klussen af.</p>
            <p>Al snel na de oprichting van het schildersbedrijf werd de eerste doe-het-zelf winkel geopend. In 1963 werd op de Frederik Hendrikstraat naast het woonhuis van Evert en zijn vrouw Rina de winkel geopend. Rina Bruijnesteijn verkocht de verf en het behang, waarop Evert het professioneel bij de mensen thuis kwam aanbrengen op de plafonds en aan de wanden. Door het succes van het echtpaar, en om het bedrijf te kunnen laten groeien, werden er in de loop van de tijd ook medewerkers aangenomen. Zo kon het schildersbedrijf groeien, werden de activiteiten uitgebreid en werden er meerdere winkels geopend.</p>
            <p>Naast het ontwikkelen van zijn eigen bedrijf, zette Evert Bruijnesteijn zich ruim 25 jaar in voor het Bedrijfschap Schildersbedrijf en werkgeversorganisatie FOSAG (voormalig NCOS). Evert was nauw betrokken bij beide organisaties en was jarenlang dagelijks bestuurslid voor het Bedrijfschap en penningmeester van FOSAG. Door zijn betrokkenheid in de branche heeft hij belangrijke stempels gedrukt tijdens het uitvoeren van zijn bestuurlijke functies, met als uiting hoe, met name, de schildersbranche er vandaag de dag uitziet.</p>
            <p>In 1997 besloot Evert Bruijnesteijn het iets rustiger aan te gaan doen en heeft zijn aandelen van de werkmaatschappijen overgedragen aan zijn zonen Jos en Paul. Jos nam zijn aandelen over als algemeen directeur van het Bruijnesteijn Schilders- en Bouwbedrijf, waarop Paul de aandelen over nam als directeur Decorating Evert Bruijnesteijn DHZ.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> components/footer}}

{{> base/html-bottom}}
