{{> base/html-top}}

{{> components/nav is-active="contact" contact=true}}

{{> components/header}}

{{> components/page-header image="map.jpg" }}

  <div class="l-container">
    <div class="l-row">
      <div class="l-col l-col-sm-10 l-offset-sm-1">
        <div class="detail-page-intro">
          <h1 class="detail-page-intro__title">Contact</h1>
          <div class="detail-page-intro__text">
            <p>Onderstaand kunt u onze contactgegevens vinden. Aangepaste openingstijden zullen wij <a href="https://goo.gl/maps/7PsnGmrN4rG2" target="_blank" class="link">hier</a> vermelden.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{{> components/company-info-section
    store="IJzerwaren en Elektra winkel"
    address="Haarlemmerstraat 84 en 86"
    navigate="https://goo.gl/maps/cyVNUvNBM462"
}}

{{> components/company-contact }}

{{> components/footer}}

{{> base/html-bottom}}
