{{> base/html-top}}

{{> components/nav electricity=true}}

{{> components/header}}

{{> components/slider--lighting}}

  {{> components/detail-page-intro
      title="Lampen"
      icon="lamp"
      text="Welkom op de pagina van onze Lampen, Elektra en Verlichtingswinkel. In deze winkel, gelegen aan de haarlemmerstraat nr 84 bent u aan het juiste adres voor een breed scala aan elektra gerelateerde producten"
  }}
  <div class="l-section">
  <div class="l-container">
    <div class="products">
      <div class="l-row">
        <div class="l-col-10 l-offset-1 l-col-sm-5">
          <h4 class="products__title">Producten</h4>
          <ul class="products__list">
            <li class="products__item">LED Lampen</li>
            <li class="products__item">Halogeen lampen</li>
            <li class="products__item">Gloeilampen (voorraden worden momenteel opgemaakt)</li>
            <li class="products__item">Stekkers</li>
            <li class="products__item">Fittingen</li>
            <li class="products__item">(Stof omwonden) Snoer</li>
            <li class="products__item">Schakelmateriaal</li>
            <li class="products__item">Dimmers</li>
            <li class="products__item">Stopcontacten</li>
            <li class="products__item">Verlengsnoeren</li>
            <li class="products__item">Telefoon opladers (Apple en Android)</li>
            <li class="products__item">Olight Zaklampen</li>
            <li class="products__item">Zekeringen</li>
            <li class="products__item">TV kabels</li>
            <li class="products__item">HDMI Kabels</li>
            <li class="products__item">LED strips</li>
            <li class="products__item">Vloerlampen</li>
            <li class="products__item">Tafellampen</li>
            <li class="products__item">Hanglampen</li>
            <li class="products__item">Inbouw en opbouw Spots</li>
            <li class="products__item">Badkamerlampen</li>
          </ul>
          <a href="https://doe-het-zelf-bruijnesteijn.webshopapp.com/" target="_blank" class="button">Shop nu in onze Webshop!</a>
        </div>
        <div class="l-col-10 l-offset-1 l-col-sm-5 l-offset-sm-0">
          <img src="assets/images/electricity.jpg" class="products__image" alt="Electricity Store">
        </div>
      </div>
    </div>
  </div>
  </div>

  {{> components/company-contact}}

  {{> components/company-info-section
  store="Lampen winkel"
  address="Haarlemmerstraat 84"
  navigate="https://goo.gl/maps/YVa58BoRMWP2"
  }}

  {{> components/footer}}

{{> base/html-bottom}}
