{{> base/html-top}}

{{> components/nav hardware=true}}

{{> components/header}}

{{> components/slider}}

{{> components/detail-page-intro
    title="IJzerwaren, Gereedschap en Verf"
    icon="tools"
    text="Welkom op de pagina van onze IJzerwaren, Gereedschappen en Verf winkel. In deze winkel, gelegen aan de haarlemmerstraat nr 86 bent u aan het juiste adres voor een breed scala aan doe het zelf gerelateerde producten"
}}

<div class="l-section">
  <div class="l-container">
    <div class="products">
      <div class="l-row">
        <div class="l-col-10 l-offset-1 l-col-sm-5">
          <h3 class="products__title">Producten</h3>
          <ul class="products__list">
            <li class="products__item">IJzerwaren</li>
            <li class="products__item">Verf en toebehoren</li>
            <li class="products__item">Sanitaire producten</li>
            <li class="products__item">Schoonmaak artikelen</li>
            <li class="products__item">HG Producten</li>
            <li class="products__item">Alabastine vulmiddelen</li>
            <li class="products__item">Bison lijmen en kitten</li>
            <li class="products__item">Stickers</li>
            <li class="products__item">Onderhoudsmiddelen</li>
            <li class="products__item">Sloten en Beslag</li>
            <li class="products__item">Touw</li>
            <li class="products__item">Meubelvilt</li>
            <li class="products__item">Elektrische Machines (ook in verhuur)</li>
            <li class="products__item">Machine toebehoren</li>
            <li class="products__item">Vloer onderhoudsmiddelen</li>
          </ul>
        </div>
        <div class="l-col-10 l-offset-1 l-col-sm-5 l-offset-sm-0">
          <img src="assets/images/hardware.jpg" class="products__image" alt="Store image">
        </div>
      </div>
    </div>
  </div>
</div>


{{> components/company-contact}}

{{> components/company-info-section
store="Doe Het Zelf winkel"
address="Haarlemmerstraat 86"
navigate="https://goo.gl/maps/cyVNUvNBM462"
}}

{{> components/footer}}

{{> base/html-bottom}}
