{{> base/html-top}}

{{> components/nav home=true}}

{{> components/header}}

{{> components/page-header-home}}

{{> components/home-intro}}

{{> components/company-info-section
    store="IJzerwaren en Elektra winkel"
    address="Haarlemmerstraat 84 en 86"
    navigate="https://goo.gl/maps/cyVNUvNBM462"
}}

{{> components/company-contact}}

<!--{{> components/social-media}}-->

{{> components/footer}}

{{> base/html-bottom}}
